DATABASE_URL=
REDIS_URL=
GROQ_API_KEY=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=10
FULL_NAME=
GRAD_YEAR=
DEGREE=
EMAIL=
PHONE=
RESUME=
PORTFOLIO=
PROFILE_SUMMARY=
SERP_API_KEY=

OPENAI_API_KEY=
OPENAI_MODEL=llama-3.1-8b-instant

USER_NAME=
USER_EMAIL=
USER_PHONE=
USER_LINKEDIN=
USER_GITHUB=
USER_PORTFOLIO=
USER_SKILLS=
USER_EXPERIENCE=
USER_COLLEGE=
USER_DEGREE=
USER_GRAD_YEAR=
